{{#basic-card title=title}}

  {{#block-slot 'body'}}
  <div class="container-fluid">
    <div class="row">

      <section class="col-sm-9 col-md-9">

        {{contact-editor 
            model=model 
            buttonTitle=buttonTitle 
            onContactSave='onContactSave'
            onCancel='onCancel'
        }}

      </section>

    </div>
  </div>
  {{/block-slot}}

{{/basic-card}}
<section class="contact-card">

  <div class="page-header">

    <div class="btn-group pull-right">

      {{#if showDelete}}
      <button class="btn btn-danger" {{action "deleteContact" model}}>
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
      </button>
      {{/if}}

      <button class="btn btn-default" {{action "cancelEdit" model}}>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
      </button>

      <button class="btn btn-primary" {{action "saveContact" model}} disabled={{unless model.isValidForSaving true}}>
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> {{buttonTitle}}
      </button>

    </div>

    <h2>{{title}}</h2>

  </div>

  

</section>

{{outlet}}
