{{!-- name field --}}
{{#detail-item 
  label="Name" 
  value=model.name 
  isEditMode=isEditMode
  showEditBtn=allowEdit
}}
  
  {{input 
    type="text" 
    class="form-control" 
    value=model.name 
    placeholder="Please enter the Contact Name"
  }}

{{/detail-item}}

{{!-- occupation field --}}
{{#detail-item 
  label="Occupation" 
  value=(uc-words model.occupation) 
  isEditMode=isEditMode
  showEditBtn=allowEdit
}}
  
  {{#power-select 
      class="form-control" 
      options=occupationList 
      selected=model.occupation 
      searchEnabled=false 
      placeholder="Select an Occupation"
      onchange=(action (mut model.occupation)) 
      as |ocp|
  }}
    {{uc-words ocp}}
  {{/power-select}}

{{/detail-item}}

{{!-- date of birth field --}}
{{#detail-item 
  label="Date of Birth" 
  value=(format-date model.dateOfBirth format='YYYY/MM/DD') 
  isEditMode=isEditMode
  showEditBtn=allowEdit
}}

  {{bootstrap-datepicker
    value=model.dateOfBirth
    autoclose=true
    endDate=today
    format='yyyy/mm/dd'
    class="form-control"
    placeholder="Enter the Date of Birth"
    startView=(if model.dateOfBirth 0 'decade')
  }}

{{/detail-item}}

{{!-- action buttons --}}
{{#if isEditMode}}
<div class="form-group">
  <div class="col-md-offset-3 col-lg-offset-2 col-sm-12 col-md-6 text-right">

    <button class="btn btn-primary" {{action "saveContact" model}} disabled={{unless model.isValidForSaving true}}>
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> {{if buttonTitle buttonTitle "Update Content"}}
    </button>

    <button class="btn btn-default" {{action "cancelChanges" model}}>
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
    </button>
  
  </div>
</div>
{{/if}}
