<img src="{{model.getAvatarUrl}}" title={{model.name}} class="img-rounded"/>

<div class="caption text-center">
  <a href="" {{action (mut uploadModal) true}}><u>Change Picture</u></a>
  {{#if model.hasAvatar}}or <a href="" {{action (mut confirmRemove) true}} class="text-danger"><u>Remove</u></a>{{/if}}
</div>

{{!-- modal to handle removal confirmation --}}
{{#bs-modal-simple
  open=confirmRemove
  title="Remove your Picture?"
  closeTitle="No"
  submitTitle="Yes"
  closeButton=false
  keyboard=false
  backdropClose=false
  onSubmit=(action "removePicture" model)
}}
  <p>
    <big>
      If you remove your profile picture, we will delete the photo 
      and replace it with a randomly generated character.
    </big>
  </p>
{{/bs-modal-simple}}

{{!-- modal to handle the upload pipeline --}}
{{#bs-modal 
  open=uploadModal
  size="lg"
  closeButton=false
  keyboard=false
  backdropClose=false
  onHidden=(action (mut uploadModal) false)
  onSubmit=(action "handleUpload")
  as |modal|
}}

  {{#modal.header closeButton=false}}
    <h3>{{uploadTitle}}</h3>
  {{/modal.header}}

  {{#modal.body}}

    <div class="row">
      <div class="col-xs-12">

        {{#unless showCroppie}}
        {{#file-picker accept="image/*" fileLoaded="fileLoaded" preview=false progress=false readAs="readAsDataURL"}}
            <div class="jumbotron bg-primary text-center">
              <h2>Drop the Picture Here</h2>
              <h4>or just click me to pick the photo!</h4>
            </div>
        {{/file-picker}}
        {{/unless}}

        <div class="picture-crop-preview"></div>

      </div>
    </div>

  {{/modal.body}}
   
  {{modal.footer 
    onClose=(action "cancelUpload") 
    closeTitle="Cancel" 
    submitTitle=uploadLabel 
    submitDisabled=(if allowUpload false)
  }}

 {{/bs-modal}}
